<h2>Endre Pizza: </h2>
{{#each pizza}}
Pizza Navn: {{this.name}}
<br>
Pris: {{this.price}}kr

<form action="/admin/slettpizza/{{this.id}}" method="POST">
    <input type="submit" value="Slett">
</form>

<br>
{{/each}}

<h2>Legg til Pizza: </h2>

<form class="login-form" action="/admin/addpizza" method="POST">
    <input style="height: 40px" type="text" name="pizzaNavn" placeholder="Pizza Navn">
    <br>
    <br>
    <input placeholder="Pizza Beskrivelse" style="height: 40px" type="text" name="pizzaBeskrivelse">
    <br>
    <br>
    <input style="height: 40px" type="text" name="pizzaPris" placeholder="Pizza Pris">
    <br>
    <br>
    <input type="submit" value="Legg til">
</form>