<div class="hjemmeside">
    <div class="grid-container">

        <div class="grid-item">

            <a href="/bestill"> Bestill pizza nå </a>
        </div>

        <div class="grid-item">
            <img class="dagenspizza" src="/images/pizza3.jpg">
            Dagens Pizza er
            <br>
            KVESS
        </div>


    </div>
    <div class="tilbud">
        <img src="/images/pizza4.jpg">
        <br>
        Tilbud!
        <br>
        Kjøp KYLLINGFARMEN nå for bare 145 kr
    </div>
</div>