<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pizzabakeren</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <header>
    <img class="header-img" src="/images/pizza2.png">
    <div class="title">
      <img src="/images/logo.png">
    </div>
  </header>

  <section>
    <nav id="sidenav">
      <ul>
        <li><a href="/">Hjem</a></li>
        <li><a href="/bestill">Bestill</a></li>
        <li><a href="/omoss">Om Oss</a></li>
        {{#if isAdmin}}
        <li><a href="/admin">Admin</a></li>
        <li><a class="admin-nav" href="/admin/ordre">Se Ordre</a></li>
        <li><a class="admin-nav" href="/admin/endreMeny">Endre menyen</a></li>
        <li><a class="admin-nav" href="/admin/logout">Logg Ut</a></li>

        {{/if}}
      </ul>
    </nav>
    <article id="pagecontent">
      {{{body}}}
    </article>
  </section>

  <footer>
    <p>Ring oss på: 454 01 580</p>
  </footer>
</body>

</html>