<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pizzabakeren</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <img class="header-img" src="/images/pizza2.png">
    <div class="title">
      <h2>Pizzabakeren</h2>
    </div>
  </header>

  <section>
    <nav>
      <ul>
        <li><a class="button" href="/">Hjem</a></li>
        <li><a class="button" href="/bestill">Bestill</a></li>
        <li><a class="button" href="#">Om Oss</a></li>
        <li><a class="button" href="/admin">Admin</a></li>
      </ul>
    </nav>

    {{{body}}}
  </section>

  <footer>
    <p>Ring oss på: 454 01 580</p>
  </footer>

</body>

</html>