<div class="omoss">
    <center>
        <h2>Om Pizzabakeren</h2>
    </center>


    <p>Pizzabakeren er en av de raskest voksende pizzakjedene i landet. Kjeden har på svært kort tid satt seg på
        Norgeskartet
        med over 170 utsalgssteder pr. i dag – og mer skal det bli. Mottakelsen i markedet har vært fantastisk og
        lovordene
        er
        mange for pizzaen med de nybakte bunnene og den gode smaken. Virksomheten er basert på take-away – enten henter
        du
        pizzaen selv eller så kommer vi og leverer den rykende fersk der du er.
    </p>

    <p>
        Det ligger mange års erfaring bak pizzaproduktene som er basisen i Pizzabakeren-konseptet. William Gulliksen og
        Arild
        Ask Bringeland drev i en årrekke pizzautsalg på h.h.v. Hundvåg og Tasta i Stavanger før Pizzabakeren-kjeden ble
        etablert. Det beste fra deres egne virksomheter dannet basisen for produktet og menyen som i dag brukes i
        samtlige
        Pizzabakeren bakerier. Kjedekonseptet ble etablert og satt i drift i sammen med Jan Henrik Jelsa og Hans Georg
        Jelsa. De
        fire grunderne stiftet selskapet Pizzabakeren Invest AS i mai 2003 og kjedens første etablering skjedde på Klepp
        i
        Rogaland i oktober 2003. Foruten å være kjedekonseptets morselskap og franchisegiver er Pizzbakeren Invest AS
        ansvarlig
        for produktutvikling, kvalitetssystemer, markedsføring, regnskapsførsel og drift i Pizzabakeren-kjeden.
    </p>
</div>